html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Skryje scrollbary */
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#gameCanvas {

    z-index: 1; /* herný svet */
}

#uiCanvas {
    z-index: 2; /* UI nad tým */
    pointer-events: none; /* kliky pôjdu na spodný canvas */
}